@import '../../assets/fonts/styles.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; /*1rem = 16px*/
    body {
        font-family: 'Roboto Mono', monospace;';
        background-color: $BackgroundColor;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased !important;
        -ms-overflow-style: none;
    }
}
